workspace/.flows.json.backup
[{"id":"74ade487.dc7e0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"786d2ade.890174","type":"http in","z":"74ade487.dc7e0c","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["cb1cc07f.88a3b"]]},{"id":"ab5e1201.0d4fa","type":"http response","z":"74ade487.dc7e0c","name":"","statusCode":"","headers":{},"x":730,"y":240,"wires":[]},{"id":"cb1cc07f.88a3b","type":"function","z":"74ade487.dc7e0c","name":"","func":"msg.payload = msg.payload.text;\nmsg.params = {}\nmsg.params.version = \"2018-09-20\"\nmsg.params.disable_ssl_verification = true;\nmsg.params.utl=\"https://gateway.watsonplatform.net/assistant/api\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["c9406a52.b850c8","d5b0f6a8.650348"]],"inputLabels":["text"]},{"id":"d5b0f6a8.650348","type":"debug","z":"74ade487.dc7e0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":360,"wires":[]},{"id":"c9406a52.b850c8","type":"watson-assistant-v2","z":"74ade487.dc7e0c","name":"Chatbot","default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/conversation/api","assistant_id":"74237b91-88d3-41af-815b-c70c9def5be5","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":true,"x":560,"y":140,"wires":[["ab5e1201.0d4fa","3b20c7d5.690fc8"]]},{"id":"3b20c7d5.690fc8","type":"debug","z":"74ade487.dc7e0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":80,"wires":[]}]