workspace/.flows.json.backup
[{"id":"74ade487.dc7e0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"786d2ade.890174","type":"http in","z":"74ade487.dc7e0c","name":"","url":"/message","method":"get","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["cb1cc07f.88a3b","3b1bf67f.b998ca"]]},{"id":"ab5e1201.0d4fa","type":"http response","z":"74ade487.dc7e0c","name":"","statusCode":"","headers":{},"x":730,"y":240,"wires":[]},{"id":"cb1cc07f.88a3b","type":"function","z":"74ade487.dc7e0c","name":"","func":"msg.payload = msg.payload.text;\nmsg.params = {}\nmsg.params.version = \"2018-09-20\"\nmsg.params.disable_ssl_verification = true;\nmsg.params.utl=\"https://gateway.watsonplatform.net/assistant/api\"\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["c9406a52.b850c8","d5b0f6a8.650348"]],"inputLabels":["text"]},{"id":"d5b0f6a8.650348","type":"debug","z":"74ade487.dc7e0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":280,"wires":[]},{"id":"c9406a52.b850c8","type":"watson-assistant-v2","z":"74ade487.dc7e0c","name":"Chatbot","default-endpoint":false,"service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api","assistant_id":"abdf2ccb-3928-435c-befb-4a4448d6b9f7","debug":true,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":true,"x":560,"y":140,"wires":[["ab5e1201.0d4fa"]]},{"id":"3b1bf67f.b998ca","type":"watson-conversation-v1-workspace-manager","z":"74ade487.dc7e0c","name":"","cwm-custom-mode":"listWorkspaces","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-entity":"","cwm-entity-value":"","cwm-dialog-node":"","cwm-export-content":false,"cwm-default-endpoint":false,"cwm-service-endpoint":"https://gateway-fra.watsonplatform.net/assistant/api/v2/assistants/","x":230,"y":400,"wires":[["d5b0f6a8.650348"]]}]